@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
<head>
    <title>@title</title>

    <!-- #CSS Links -->
    <link rel='stylesheet' href='@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")'>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/dataTables.bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <!-- #Javascripts Links -->
    <script src="@routes.Assets.at("javascripts/jquery-1.12.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/dataTables.bootstrap.min.js")" type="text/javascript"></script>

    <!-- #Custom Javascripts Links -->
    <script src="@routes.Assets.at("javascripts/emp.js")" type="text/javascript"></script>

</head>

<body >
<header>
<span class="glyphicon glyphicon-menu-hamburger" style="font-size: 28px; padding: 15px;" aria-hidden="true"></span>
<h3 style="color: rgb(198, 194, 194); display: inline;">EMPLOYEE DATABASE</h3>
</header>

<!-- Render main content here -->
<div class="container-fluid body-content">
    @content
</div>

<!--  bootbox  js -->
<script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery.toaster.js")" type="text/javascript"></script>
</body>
</html>
