
@import views.html.employee._

@main("Reactive-Web-App") {

<!-- Success alert -->
<div id="successAlert" class="alert alert-success fade noneDisplay">
    <button class="close">
        ×
    </button>
    <strong>SUCCESS:&nbsp; </strong>
    <p id="alertContent" style="display: inline;"></p>
</div>

<!-- Error alert -->
<div id="errorAlert" class="alert alert-danger fade noneDisplay">
    <button class="close">
        ×
    </button>
    <strong>ERROR:&nbsp; </strong>
    <p id="alertContent" style="display: inline;"></p>
</div>

<!-- Populate employee table -->
@employeeList(" ")

<!-- Populate employee form modal -->
@employeeFormModal(" ")

<!-- Populate employee edit form modal -->
@editEmployeeModal(" ")

}

